<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
      <p>Hello, my name is Dharmesh Patel. I'm currently in my third semester in CPP. I'm looking forward to learn so much more in this class as Web developement has always been a bit of an ambition and a hobby of mine.</p>
      <p>I plan to start freelancing soon with the knowledge that I have so far, so that I can gain more experience and earn some money on the side too. Hopefully that boosts my resume for future positions.</p>
      <p>Aside from school and work, I'm heavily involved in my hobbies as well. Which include sports like volleyball badminton and running. I also enjoy playing instruments like piano and the flute. I equally enjoy reading books and plan to make a book blog soon. </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>Coming Soon</h2>
      <p>An awesome new community for book worms is coming very soon. Stay tuned, we're almost ready for you!</p>
    </aside>
  </div>
</div>

   